.title{
color:white;
text-align: center;
margin:auto;
font-size: 40px;
margin-bottom:15px;
}

.backgroundImage{
	position:absolute;
	top:30%;
	right:5%;
}

#gameCanvas {
	background-color: white;
	width: 1080px;
	height: 600px;
	margin: auto;
	align: center;
	-webkit-filter: blur(5px);
	display: none;
	
}

.goGame {
	-moz-box-shadow: 3px 4px 0px 0px #ffff00;
	-webkit-box-shadow: 3px 4px 0px 0px #ffff00;
	box-shadow: 3px 4px 0px 0px #ffff00;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #080100), color-stop(1, #260300));
	background:-moz-linear-gradient(top, #080100 5%, #260300 100%);
	background:-webkit-linear-gradient(top, #080100 5%, #260300 100%);
	background:-o-linear-gradient(top, #080100 5%, #260300 100%);
	background:-ms-linear-gradient(top, #080100 5%, #260300 100%);
	background:linear-gradient(to bottom, #080100 5%, #260300 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#080100', endColorstr='#260300',GradientType=0);
	background-color:#080100;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:3px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffe047;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:16px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fff424;
	position:absolute;
	top:45%;
	right:45%;
	z-index:10;
}


#audio{
	position: absolute;
	top: 710px;
	left: 150px;
}

audio{
	width: 48px;
}

body {
   background-color: black;
   background-position: center;
   background: url("image/background.jpg");
   background-repeat : no-repeat;
   background-size: cover;
   background-repeat: no-repeat;
}



html, body, iframe { border: 0; }


.gameOver a{
	text-decoration:none;
	color: #FFFFFF;
}

.gameOver{
	display:none;
	font-size:70px;
	color:white;
	position:absolute;
	top:40%;
	right:50%;
	z-index:10;
}

.countdown{
	font-size:100px;
	color:black;
	text-align:center;
	position:absolute;
	top:45%;
	right:46%;
	z-index:10;
}

.annonce{
	color: red;
	position: absolute;
	top: 100px;
	right: 1px;;
	width: 180px;
	font-size: 31px;
}

.score{
color: white;
float: right;
width: 180px;
font-size: 31px;
position: absolute;
top: 300px;
right: 1px;
display:none;
}

.life{
color: white;
float: right;
width: 180px;
font-size: 31px;
position: absolute;
top: 380px;
right: 1px;
display:none;
}